* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    align-items: center;
}

.controleDeTempo {
    display: flexbox;
    flex-direction: row;
}

.quantidadeTempo {
    height: 120px;
    font-size: 2rem;
    width: 10%;
    padding-left: 10%;
}

.controleDeTempo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: black;
    color: white;
    height: 2%;
    font-size: 2rem;
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    border: solid 2px white;
    margin: 0 5%;
    text-align: center;
}

.h2Timer {
    color: white;
    font-weight: bold;
}

#quantidadeTempo {
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 25%;

}

#tempo {
    font-size: 200%;
}

#startButton {
    width: 25%;
    padding: 5px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    background: green;
    color: white;
}

#stopButton {
    width: 25%;
    padding: 5px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    background: yellow;
    color: black;
}

#cleanTime {
    width: 25%;
    padding: 5px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    border-radius: 5px;
    background: red;
    color: white;
}

#inputTarefa {
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;

}

button.add {
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-icone {
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

.item-nome {
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mdi-check-circle {
    color: green;
}

.item.clicado {
    background: #d4f6d9;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: #ccc;
}